/*****************************************************/
/* estilo para styledtext.html                       */
/*  */
/* selectores de etiqueta */
body{background-color: black;
    color: white;}
h2{color: salmon;}
/* selector de id, único */
#encabezadop1{text-align: right;}
/* slector de class, colectivo */
.centrado {text-align: center;}
/* selector contextual, añade contexto, más de un slector separados con espacios*/
.centrado b{color: red;}